.message {
    padding: 10px;
    color: #fff;
    font-weight: 600;
    position: relative;
    border: 1px solid #ccc;
}

.message.error {
    background: #ec000099;
}

.message.success {
    background: #17821fc2;
}

.message::after {
    content: 'x';
    position: absolute;
    right: 15px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    top: 8px;
    cursor: pointer;
}
